<!DOCTYPE html>
<html>
    <head>
        <title>{{> title}}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        An internal error occurred while handling your request. <a href="/">Return home?</a>
    </body>
</html>

