<!DOCTYPE html>
<html>
    <head>
        <title>{{> title}}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <a href="/">Home</a>
        <a href="/?list">List Home</a>
        <a onclick="create()">Create</a>

        <div>
            {{> page}}
        </div>

        <script>
            function create() {
                let name = prompt("Enter file name:");
                if (name == null) {
                    return;
                }
                name = encodeURI(name);

                if (name.startsWith("/")) {
                    location.assign(name + "?edit");
                } else {
                    location.assign("/" + name + "?edit");
                }

                return true;
            }
        </script>
    </body>
</html>

