<!DOCTYPE html>
<html>
    <head>
        <title>{{> title}}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <a href="/">Home</a>
        <a href="/?list">List Home</a>

        <div>
            {{> page}}
        </div>
    </body>
</html>

