{{#> base.html}}

    {{#*inline "title"}}
        Editing {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>
        <textarea cols="120" rows="30">{{content}}</textarea>
    {{/inline}}

{{/base.html}}
