{{#> base.html}}

    {{#*inline "title"}}
        Editing {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>
        This file cannot exist.
    {{/inline}}

{{/base.html}}
