{{#> base.html}}

    {{#*inline "title"}}
        {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>
        <pre>
{{content}}
        </pre>
    {{/inline}}

{{/base.html}}
