{{#> base.html}}

    {{#*inline "title"}}
        {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>

        <a href="?edit">Edit</a>
        <a href="{{parent_list_link}}">List parent</a>

        <pre>
{{content}}
        </pre>
    {{/inline}}

{{/base.html}}
