{{#> base.html}}

    {{#*inline "title"}}
        {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>

        <p>
            Could not find {{path}}.
        </p>

        <p>
            {{#if can_exist}}
                You can <a href="?edit">edit</a> it.
            {{else}}
                It cannot even exist.
            {{/if}}
        </p>
    {{/inline}}

{{/base.html}}
